@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$backgroundColor : rgba(200, 200, 200, 0.25);
$backgroundColorHover: rgba(200, 200, 200, 0.33);
@import './nav';
.is-white {
    color: #fff;
}
.year-value {
    width: 100px !important;
    background: #222 !important;
    border: 0 !important;
    color: #fff !important;
    font-weight: 600 !important;
    font-family: 'Poppins';
}
textarea:hover, 
input[type="text"]:hover, 
textarea:active, 
input[type="text"]:active, 
textarea:focus, 
input[type="text"]:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
    width: 13px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.col-md-8 {
    height: 100vh;
    background-color: #222;
    overflow: scroll;
}

.radio {
    display: none;
    padding: 6px;
}

.radio-labels {
    margin: 0.4rem;
    padding: 6px;
    &:hover {
        cursor: pointer;
    }
}

.month-name {
    border-radius: 8px;
    color: #777;
}
.btn {
    background:transparent !important;
    border: 0 !important;
}
input[type="radio"]:checked + label {
    color: #fff;
    font-weight: 600;
    border-bottom: 1.4px solid #fff;
    font-size: 18px;
    transition:all 200ms linear;
}

input[type=number] {
  -moz-appearance: textfield;
}
.day {
    &:hover {
        background-color: #EDCF88;
        border-radius: 20%;
        color: #000;
        box-shadow: white;
        font-weight: 400;
        cursor: pointer;
    }
}

.add-event {
    background-color: #333;
}
.day-year {
    &:hover {
        background-color: #796DCD;
        border-radius: 20%;
        color: #000;
        box-shadow: white;
        font-weight: 400;
        cursor: pointer; 
    }
}

.week-day {
    padding: 0;
}
.fa-list-ul {
    &:hover {
        background: $backgroundColor;
        border-radius: 50%;
        cursor: pointer;
    }
}

.is-poppins {
    font-family: 'Poppins';
}

.badge {
    font-size: 18px !important;
}
tr {
    border-top: hidden;
}
.format-options {
    text-decoration:inherit;
    background-color: rgba(200, 200, 200, 0.3);
    padding: 6px;
    border-radius: 7px;
    &:hover {
        background-color:$backgroundColorHover;
    }
}

.signup {
    background-color: #222;
}

.signup-form {
    background-color: #181818;
    border-radius: 20px;
    color: #c1c1c1;
}
.logout-section {
    &:hover {
        transform: scale(1.1);
    }
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  
  }
  .dropdown:hover .dropdown-content {
    display: block;
    animation-name: dropdown;
    animation-duration: 0.5s;
  }
  
  @keyframes dropdown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

.event {
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
}

ul {
    list-style-type: none;
}
  ul li{
    color: #fff;
    cursor: pointer;
    background: #2A2A32;
    border-radius: 8px;
    margin: 6px !important;

}
table {
    overflow: scroll;
}
.right {
    background: #181818;
    color: #fff !important;
}
td {
    color: #fff;
}


.navbar-left {
    background: #1D1E23;
}
.left {
    background-color: #060b14;
}
.right {
    background-color: #1A1A1F;
}
.search-input-box {
    color: #fff;
    background: linear-gradient(to bottom, rgb(53, 53, 56), rgba(58, 59, 70, 0.3));
    padding: 12px;
    border-radius: 18px;
    border: 0;
}
::placeholder {
    color: #fff;
    opacity: 0.6; 
  }
  
  :-ms-input-placeholder { 
   color: #fff;
  }
  
  ::-ms-input-placeholder {
   color: #fff;
  }
.form-search button {
    background: transparent !important;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px 25px;
    z-index: 2;
    color: #fff;
    opacity: 0.6;
  }

  .arrow {
      &:hover {
          background: #383838;
          border-radius: 50%;
      }
  }
@media screen and (max-width:550) {
    .row {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
}