@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fjalla+One&display=swap');
$backgroundColor : rgba(200, 200, 200, 0.25);
$backgroundColorHover: rgba(200, 200, 200, 0.33);
@import './nav';
.is-white {
    color: #000;
}
.app-name {
    font-family: 'Fjalla One';
    
}
.is-bold {
    font-weight: 600;
}
.cursor-p {
    cursor: pointer;
} 
.year-value {
    width: 100px !important;
    background: #222 !important;
    border: 0 !important;
    color: #000 !important;
    font-weight: 600 !important;
    font-family: 'Poppins';
}

input {
    border:none !important;
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #000 !important;
}
.fa-inbox, .fa-bell-o {
    &:hover {
        background-color: rgba(196, 196, 196, 0.3);
        border-radius: 50%;
        cursor: pointer;
    }
}
.todays-date {
    font-weight: 500;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dropdown {
    position: relative;
    &:hover {
        cursor: pointer;
    }

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 2px;
    font-weight: 500;
    font-family: 'poppins';
    padding-top: 7px;
    min-width: 160px;
    text-align: left !important;
    z-index: 1;
    border: 2px solid #000 !important;
    
    &:hover {
        cursor: pointer;
        
    }
  
  }
  .dropdown:hover .dropdown-content {
    display: block;
    animation-name: dropdown;
    animation-duration: 0.5s;
    
  }
  .dropdown-months {
      &:hover {
        border-bottom: 2px solid #000;
      }
      
  }
  @keyframes dropdown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1; 
    }
  }

::-webkit-scrollbar {
    width: 13px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.col-md-4 {
    overflow: auto;
}
.col-md-8 {
    height: 100vh;
    overflow: scroll;
}
.date-heading {
    color: #89C283;
}
.radio {
    display: none;
    padding: 6px;
}

.radio-labels {
    margin: 0.4rem;
    padding: 6px;
    opacity: 0.7;
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}
.dropdown-toggle::after { 
    content: none !important; 
} 
.month-name {
    border-radius: 8px;
    color: #777;
}
.btn {
    background: transparent !important;
    border: 0 !important;
    color: #000 !important;
}
input[type="radio"]:checked + label {
    color: #000;
    font-weight: 600;
    border-bottom: 3px solid #000;
    font-size: 16px;
}
.month-button {
    color: #000 !important;
}
input[type=number] {
  -moz-appearance: textfield;
  background: #fff !important;
  color: #000 !important;
  border: 2px #000 solid !important;
  border-radius: 6px !important;
}
.day {
    &:hover {
        background-color: rgba(18,112,55,0.2);
        border-radius: 30% !important;
        color: #000;
        font-weight: 400;
        cursor: pointer;
    }
}
// .week-rows {
//     background-color: rgba(18,112,55,0.1);
//     border-radius: 4px;
// }

.day-year {
    &:hover {
        background-color: rgba(95, 34, 36, 0.4);
        border-radius: 50%;
        color: #000;
        font-weight: 400;
        cursor: pointer; 
    }
}

.week-day {
    padding: 0;
}
.fa-list-ul {
    &:hover {
        background: $backgroundColor;
        border-radius: 50%;
        cursor: pointer;
    }
}

.is-poppins {
    font-family: 'Poppins';
}

tr {
    border-top: hidden;
}

.signup {
    background-color: #222;
}

.signup-form {
    background-color: #181818;
    border-radius: 20px;
    color: #c1c1c1;
}
.logout-section {
    &:hover {
        transform: scale(1.1);
    }
}

ul {
    list-style-type: none;
}
.events {
    border-radius: 8px;
    tr {
        .eventName {
            &:hover {
                border-bottom: 2px solid #B10DFF;
                cursor: pointer;
                color: #B10DFF;
            } 
        }
    }
}
table {
    overflow: scroll;
    td {
        border-top: none !important;
    }
    thead {
        border-top: none !important;
    }
    th {
        border-top: none !important;
        vertical-align: top !important;
    }
}
.events-table {
    border-radius: 20px !important;
}
.fa-trash, .fa-pencil {
    display: none !important;
    &:hover {
        color: #B10DFF;
    }
}
tr {
    &:hover {
        .fa-trash, .fa-pencil {
            display: block !important;
        }
    }
}
.right {

    color: #000 !important;
}
td {
    color: #000;
}

.navbar-right {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
// .navbar-left {
//     background: rgba(255, 179, 0, 0.2);
// }
// .right {
//     background-color: rgba(254, 255, 223, 0.5);
// }
.add-event {
    background-color: rgba(255, 179, 0, 0) !important;
    border-radius: 6px !important;
    color: #000 !important;
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}
.add-event-form {
    border-radius: 8px !important;
}
.btn {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}
.add-event-btn {
    background: transparent !important;
    margin-top: 5px;
    font-family: 'Nunito';
    padding: 3px !important;
    border: 2px solid #000;
    border-radius: 4px ;
    transition-delay: 0.1s !important;
    -webkit-transition-property: background, transform;
    -webkit-transition-duration: 0.5s, 0.2s;
    &:focus {
        outline: none !important;
    }
    &:hover {
        .fa-plus {
            color: #fff !important;
            opacity: 0.9;
        }
        background: #000 !important;
        color: #fff;
        transition:all 0.2s !important;
        transform: translateY(-3px) !important;
        
    }
}
.left {
    background-color: #fff;
}
.container-email-verify {
    width: 90%;
    margin: 0 auto !important;
    height: 50vh;
}
.i-page {
    opacity: 0.5;
    font-size: 40px;
}
// .landingContainer {
//     border-top: 8px solid rgba(237, 207, 136, 0.7);
// }
.search-input-box {
    color: #000;
    background: #fff;
    padding: 12px;
    border: 2px solid #000 !important;
    border-radius: 6px;
    border: 0;
}
::placeholder {
    color: #000;
    opacity: 0.6; 
  }
  
  :-ms-input-placeholder { 
   color: #000;
  }
  
  ::-ms-input-placeholder {
   color: #000;
  }
//   .fa-inbox {
//       color: #C2A026;
//   }
.otp-display{
    //display:none !important;
}
.email-display{
    display:none !important;
}
.form-search button {
    background: transparent !important;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px 25px;
    z-index: 2;
    color: #fff;
    opacity: 0.6;
  }

  .arrow {
      &:hover {
          background: rgba(18,112,55,0.2);
          border-radius: 20%;
      }
  }
@media screen and (max-width:550) {
    .row {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
}
@media screen and (min-width:991.98px) {
    .right {
        border-right: 1px solid rgb(217, 210, 210);
    }
}
