@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nunito&display=swap');
.is-nunito {
    font-family: 'Nunito';
}
.is-fjalla { 
    font-family: 'Fjalla One';
}
.brand {
    font-size: 27px !important;
    padding: 6px;
    &:hover {
        cursor: pointer;
        background: rgba(255, 247, 202, 0.4);
        border-radius: 8px;
    }
}
.background-white {
    background: #fff !important;
}
.bth{
    padding: 4px;
    padding-left: 1rem;
    transition-delay: 0.1s !important;
    -webkit-transition-property: background, transform;
    -webkit-transition-duration: 0.5s, 0.2s;
    &:hover {
        cursor: pointer;
        background: #ffe5a9;
        border-radius: 6px;
        transition:all 0.2s !important;
        transform: translateY(-3px) !important;
    }
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #000;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}
.navbar-toggler {
    border: none;
    background: transparent !important;
  }
  
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
  
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
  
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
  
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }
  button.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus{
    outline: none !important;
    border:none;
    box-shadow:none;
}

.sign-up {
    background: #000;
    color: #fff;
    font-weight: 600;
    border-radius: 7px !important;
    padding: 3px 6px !important;
    transition-delay: 0.1s !important;
    -webkit-transition-property: background, transform;
    -webkit-transition-duration: 0.5s, 0.2s;
    &:hover {
        text-decoration: none !important;
        color: #fff;
        cursor: pointer;
        opacity: 1;
        transition:all 0.2s !important;
        transform: translateY(-3px) !important;
    }
}
.landing-page-heading {
    font-size: 70px;
}
.section-1 {
    height: 100vh;
}
.container-calendar-wqewe {
    width: 36%;
    margin: 0 auto !important;
    padding: 1.25rem;
    
    //transform: rotate3d(.8,-.866,0,15deg) rotate(-1deg);
    background-color: #17EB1F;
    border-radius: 20px;
}
.container-row {
    width: 75%;
    margin: 0 auto !important;
    
    margin-top: 2rem !important;
    background-color:rgba(242, 232, 195, 0.514);
    border-radius: 20px;
}
.heading-2 {
    font-size: 40px;
}
.footer {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.add-event-btn {
    background: transparent !important;
    margin-top: 5px;
    font-family: 'Nunito';
    padding: 3px !important;
    border: 2px solid #000;
    border-radius: 4px ;
    transition-delay: 0.1s !important;
    -webkit-transition-property: background, transform;
    -webkit-transition-duration: 0.5s, 0.2s;
    &:focus {
        outline: none !important;
    }
    &:hover {
        .fa-plus {
            color: #fff !important;
            opacity: 0.9;
        }
        background: #000 !important;
        color: #fff;
        transition:all 0.2s !important;
        transform: translateY(-3px) !important;
        
    }
}
.add-signup-btn {
    background: #FAD684 !important;
    color: #000;
    margin-top: 5px;
    font-family: 'Nunito';
    padding: 3px !important;
    border: 2px solid #000;
    border-radius: 4px ;
    transition-delay: 0.1s !important;
    -webkit-transition-property: background, transform;
    -webkit-transition-duration: 0.5s, 0.2s;
    &:focus {
        outline: none !important;
    }
    &:hover {
        transition:all 0.2s !important;
        transform: translateY(-3px) !important;
    }
    &:disabled {
        background: #c4c4c4 !important;
        color: #000 !important;
        transform: translateY(0px) !important;
    }
}
.container-fluid-signup {
    background: #fff;
}
.container-contact-form {
    width: 30% ;
    margin: 0 auto !important;
    background-color: rgba(255, 247, 202, 0.7);
    input {
        border: none !important;
        border-bottom: 2px solid #c4c4c4 !important;
        background-color: rgba(255, 247, 202, 0.1);
    }
    input:focus {
        border-bottom: 2px solid #FAD684 !important;
    }
}
.footer {
    h2, h4 {
        margin-top: 3rem;
    }
}
.container01 {
    margin: 0 auto !important;
    border: 2px solid #000;
    box-shadow: 4px 3px #000;
    input {
        border: none !important;
        border-bottom: 2px solid #c4c4c4 !important;
    }
    input:focus {
        border-bottom: 2px solid #17EB1F !important;
    }
}
a {
    text-decoration: none !important;
}
textarea {
    resize: none !important;
    border: 2px solid #c4c4c4 !important;
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border: 2px solid #68C5FA !important;
    }
}
// .section-1 {
//     height: 80vh !important;
// }
@media screen and (max-width:505px) {
    .container-calendar-wqewe {
        display: flex !important;
        flex-direction: column;
        width: 98%;
    }
    .container-contact-form {
        width: 90%; 
    }
    .landing-page-heading {
        font-size: 30px;
    }
    .landing-page-heading2 {
        font-size: 13px !important;
    }
    .container-row {
        width: 90%;
        display: flex !important;
        flex-direction: column !important;
    }
    .heading-2 {
        font-size: 22px;
    }
    .row-2 {
        margin-bottom: 2rem;
    }
    .section-1 {
        height: 70vh;
    }
    .footer {
        h2, h4 {
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width:767.98px) {
    .container-calendar-wqewe {
        display: flex !important;
        flex-direction: row;
        width: 98%;
    }
    .container-contact-form {
        width: 90%; 
    }
    .landing-page-heading {
        font-size: 30px;
    }
    .landing-page-heading2 {
        font-size: 13px !important;
    }
    .container-row {
        width: 90%;
        display: flex !important;
        flex-direction: column !important;
    }
    .heading-2 {
        font-size: 28px;
    }
    .row-2 {
        margin-bottom: 2rem !important;
    }
    .section-1 {
        height: 70vh;
    }
    .footer {
        h2, h4 {
            margin-top: 1rem;
        }
    }

}
.popover-body {
    padding: 0 !important;
}
.popover-header {
    background-color: #fff !important;
}
.form-control {
    border: 1px solid #000 !important;
}


.search {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 200px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.search:focus {
    width: 200px;
}


@media screen and (max-width:550px) {
    .container-calendar-wqewe {
        display: flex !important;
        flex-direction: column;
        width: 98%;
    }
    .container-contact-form {
        width: 90%; 
    }
    .landing-page-heading {
        font-size: 30px;
    }
    .landing-page-heading2 {
        font-size: 13px !important;
    }
    .col {
        h1 {
            font-size: 26px;
        }
    }
    .container-signup {
        width: 90%;
    }
}
@media screen and (max-width:991.98px) {
    .container-calendar-wqewe {
        display: flex !important;
        flex-direction: column;
        width: 98%;
    }
    .container-contact-form {
        width: 90%; 
    }
    .landing-page-heading {
        font-size: 30px;
    }
    .landing-page-heading2 {
        font-size: 13px !important;
    }
}