$width : 300px;

.sidenav {
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: all 0.4s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .enter-pass {
        border: 2px solid #000 !important;
        width: $width;
  }
.enter {
    display: inline-block !important;
}
  .fa-eye {
      position: relative !important;
      right: $width !important;
  }

  .search {
    position: relative;
    color: #aaa;
    font-size: 16px;
  }
  
  .search {display: inline-block;}
  
  .search input {
    width: 250px;
    height: 32px;
  
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  }
  
  .search input { text-indent: 32px;}
  .search .fa-eye { 
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .search .fa-eye {left: auto; right: 10px;}